name: Role Assignments CI

on:
  workflow_dispatch:
    inputs:
      scriptPath:
        description: Ruta del .ps1 en el repo
        required: true
        default: scripts/roles-v2.ps1
      PrincipalName:
        description: Nombre del principal (DisplayName)
        required: true
      SubscriptionName:
        description: Nombre de la suscripci칩n (si aplica)
        required: false
      ResourceGroupName:
        description: Resource Group (si aplica)
        required: false
      ResourceType:
        description: Tipo de recurso o alias del mapa (si ScopeType=Resource)
        required: false
      ResourceName:
        description: Nombre del recurso (si ScopeType=Resource)
        required: false


jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (Service Principal + Secret)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true

      - name: Ejecutar script de asignaci칩n de roles (PowerShell)
        uses: azure/powershell@v2
        with:
          azPSVersion: "latest"
          errorActionPreference: stop
          inlineScript: |
            $p = @{
              Action         = 'Assign'
              PrincipalType  = 'Managed Identity'
              PrincipalName  = 'lappeu2testd01'
              ScopeType      = 'Resource'
              RoleName       = 'Reader'
              DuracionTipo   = 'Permanente'
              SubscriptionName = 'Contabilidad'
              ResourceGroupName = 'rsgreu2testd01'
              ResourceType = 'Microsoft.Storage/storageAccounts'
              ResourceName = 'staceu2testdemod01'
            }
            Write-Host "Par치metros efectivos:" ($p | Out-String)

            $scriptPath = '${{ inputs.scriptPath }}'
            if (-not (Test-Path $scriptPath)) {
              throw "No se encontr칩 el script en: $scriptPath"
            }

            & $scriptPath @p
